<div class="bg">
  <mat-grid-list cols="4" class="about1">
      <mat-grid-tile class="about2">About Me</mat-grid-tile>
      <mat-grid-tile colspan="3">
          <mat-card class="example-card">
              <mat-card-content @fade>
                Hi, I am from kolkata. I have completed my MCA degree in 2018 and then I was working in a IT company in Kolkata. After one year, I quit my
                job and went to another city (Bangalore), searching for a job.
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="about2">Education</mat-grid-tile>
      <mat-grid-tile colspan="3">
          <mat-card class="example-card">
              <mat-card-content>
                <h4>MCA (Master of Computer Application)</h4>
                  <ul class="ul1">
                    <li><B>Year: </B> 2015-2018</li>
                    <li><B>College: </B> Heritage Institute of Technology</li>
                    <li><b>University: </b> Maulana Abul Kalam Azad University of Technology</li>
                    <li><b>Related Coursework: </b> Data Structures, Operating Systems, DBMS, Networking</li>
                  </ul>
                  <h4>B.Sc. Hons (Bachelor of Science - Computer Science)</h4>
                  <ul class="ul1">
                    <li><B>Year: </B> 2012-2015</li>
                    <li><B>College: </B> Asutosh College</li>
                    <li><b>University: </b> Calcutta University</li>
                    <li><b>Related Coursework: </b> Programming in C, SQL</li>
                  </ul>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="about2">Experience</mat-grid-tile>
      <mat-grid-tile colspan="3">
          <mat-card class="example-card">
              <mat-card-content>
              <span>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </span>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="about2">Skills</mat-grid-tile>
      <mat-grid-tile colspan="3">
          <mat-card class="example-card">
              <mat-card-content>
              <span>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </span>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>


</div>
